{% extends "base/template.html" %}
{% block title %} Sign in {% endblock %}
  
{% block form_view %}
    <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Sign in</h1>

        <p class="mt-4 text-gray-500">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et libero nulla eaque error neque
        ipsa culpa  autem, at itaque nostrum!
        </p>
    </div>

    <form class="mx-auto mb-0 mt-8 max-w-md space-y-4" action="" method="post">
        {% csrf_token %}

        <div class="flex flex-col justify-center text-center">
            <div class="mb-4">
                {{form.username.label_tag}}
            </div>
            <div class="[&>input]:bg-gray-50 [&>input]:border [&>input]:border-gray-300 [&>input]:text-gray-900 [&>input]:text-sm [&>input]:rounded-lg [&>input]:focus:ring-blue-500 [&>input]:focus:border-blue-500 [&>input]:block [&>input]:w-full [&>input]:p-2.5">
                {{form.username}}
            </div>
        </div>
        <div class="flex flex-col justify-center text-center">
            <div class="mb-4">
                {{form.password.label_tag}}
            </div>
            <div class="[&>input]:bg-gray-50 [&>input]:border [&>input]:border-gray-300 [&>input]:text-gray-900 [&>input]:text-sm [&>input]:rounded-lg [&>input]:focus:ring-blue-500 [&>input]:focus:border-blue-500 [&>input]:block [&>input]:w-full [&>input]:p-2.5">
                {{form.password}}
            </div>
        </div>
        <button 
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
        type='submit'>Login</button>

    </form>

    <p class="text-center text-sm text-gray-500 mt-4">
    Don't have an account?
    <a class="underline" href={% url "register" %}>Sign up</a>
    </p>

    {% endblock form_view %}