{% extends "base/template.html" %}
{% block title %} Sign up {% endblock %}
  
{% block form_view %}
<div class="mx-auto max-w-lg text-center">
    <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Register</h1>

    <p class="mt-4 text-gray-500">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et libero nulla eaque error neque
    ipsa culpa  autem, at itaque nostrum!
    </p>
</div>
<form action="" method="post" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
    {% csrf_token %}
    <div class="flex flex-col justify-center text-center">
        <div class="mb-2">{{ form.username.label_tag}}</div>
        <div class="mb-2 [&>input]:bg-gray-50 [&>input]:border [&>input]:border-gray-300 [&>input]:text-gray-900 [&>input]:text-sm [&>input]:rounded-lg [&>input]:focus:ring-blue-500 [&>input]:focus:border-blue-500 [&>input]:block [&>input]:w-full [&>input]:p-2.5">{{ form.username}}</div>
        <div class="mb-2 text-gray-400">{{ form.username.help_text}}</div>
    </div> 
    <div class="flex flex-col justify-center text-center">
        <div class="mb-2">{{ form.password1.label_tag}}</div>
        <div class="mb-2 [&>input]:bg-gray-50 [&>input]:border [&>input]:border-gray-300 [&>input]:text-gray-900 [&>input]:text-sm [&>input]:rounded-lg [&>input]:focus:ring-blue-500 [&>input]:focus:border-blue-500 [&>input]:block [&>input]:w-full [&>input]:p-2.5">{{ form.password1}}</div>
        <div class="mb-2 text-gray-400">{{ form.password1.help_text}}</div>
    </div>
    <div class="flex flex-col justify-center text-center">
        <div class="mb-2">{{ form.password2.label_tag}}</div>
        <div class="mb-2 [&>input]:bg-gray-50 [&>input]:border [&>input]:border-gray-300 [&>input]:text-gray-900 [&>input]:text-sm [&>input]:rounded-lg [&>input]:focus:ring-blue-500 [&>input]:focus:border-blue-500 [&>input]:block [&>input]:w-full [&>input]:p-2.5">{{ form.password2}}</div>
        <div class="mb-2 text-gray-400">{{ form.password2.help_text}}</div>
    </div>
    
    <button
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300" 
        type="submit">
        Sign up
    </button>
</form>
<p class="text-center text-sm text-gray-500 mt-4">
    Already have an account?
    <a class="underline" href="{% url "login" %}">Login</a>
</p>
{% endblock form_view %}
