<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <a href="home/">Home</a>
            <div>
                <span>Shopping cart</span>
            </div>
        </nav>
    </header>
<main>
    <h1>Template</h1>
    <ul>
        {% for recipe in recipes %}
        <li> {{recipe.title}}</li>
        <ul>
            <span><b>Ingredients: </b></span>
            {% for ingredient in recipe.ingredients %}
                <li>{{ingredient}}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
   
</main>
    
<footer>
    <nav>
        <div>About</div>
        <div>Made By JPCORTES</div>
    </nav>
</footer>
</body>
</html>